// slider usin scroll-snap
.slider {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  &::-webkit-scrollbar {
    display: none;
  }
}
.title {
  font-size: 20px;
  padding: 20px 0;
}
