.header {
  padding: 10px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #383838;
}
.opts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.title {
  font-size: 20px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: var(--titles-color);
}
.account {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flash {
  color: #f54f78;
}
